body{
	background: #888C8C;
	position: relative;
	min-width: 1167px;
	min-height: 740px;
}

header div a {
	display: inline-block;
	text-decoration: none;
	font-family: Arial;
    font-size: 20px;
	color: #888C8C;
}

header div img {
	position: absolute;
	left: -117px;
	margin-top: -85px;
}

body section {
	text-align: center;
}

hr {
	position: absolute;
	width: 78%;
	min-width: 920px;
	left: 220px;
	top: 160px;
	border: 7px dashed #DB9A00;

}
section article div a img {
	width: 100px;
	margin-top: 20px;
	border-radius: 10px;
	border: 2px solid #888C8C;
}

section article div a p {
	color:#888C8C;
	font-family: arial;
	font-size: 20px;
}

section article div {
	border-radius: 15px;
	border:6px outset #AD7100; 
	box-shadow: 8px 8px 8px #3F403F;
	background: #333333;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;

}

a {
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	right: 5px;

}

h1 {
	color: #AD7100;
	font-family: arial;
	position: absolute;
	top:160px;
	left: 240px;

}

#navbar {
	border-radius: 15px;
	box-shadow: 5px 5px 5px #AD7100;
	background: #333333;
	text-align: right;
	position: absolute;
	min-width: 1050px;
	height: 70px;
	width: 85%;
	left: 130px;
	top: 32px;
}

#home {
	margin-top: 21px;
	margin-right: 140px;
	position: relative;
	padding: 3px;
	border-left: 6px solid #AD7100;
	border-top: 5px solid #AD7100;
	border-radius: 5px;
}

#cbtis_logo {
	position: relative;
	top:25px;
}

#cbtis_facebook {
	position: relative;
	padding-left: 5px;
	top: 21px;
}


.navbar_text {
	margin-top: 21px;
	margin-right: 140px;
	position: relative;
	padding: 3px;
	border-left: 6px solid #DB9A00;
	border-top: 5px solid #DB9A00;
	border-radius: 5px;
}

.navbar_text:hover {
	border-left: 6px solid #AD7100;
	border-top: 5px solid #AD7100;
}

.equipo_img_1 {
	display: inline-block;
	position: relative;
	top: 250px;
	margin-left: 40px;
	left: -350px;
}

.equipo_img_2 {
	display: inline-block;
	position: relative;
	top: 250px;
	left: 0px;
}

.equipo_img_3 {
	display: inline-block;
	position: relative;
	top: 250px;
	left: 350px;
}

.equipo_img_4 {
	display: inline-block;
	position: relative;
	top: 230px;
	left: -165px;
	margin-bottom: 20px;	
}

.equipo_img_5 {
	display: inline-block;
	position: relative;
	top: 230px;
	left: 205px;
	margin-bottom: 20px;
}
